<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:ital,wght@1,300;1,400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/1fc09d1f5e.js" crossorigin="anonymous"></script>
  <title>Belén Tour</title>
</head>

<body>

  <!--Menu principal-->
  <div class="overlay overlay-slide-left contenedor-nav" id="overlay">
    <!-- MENU ITEMS -->
    <nav class="navegacion">
      <ul>
        <li id="nav-1" class="slide-out-1 center">
          <a href="#nosotros" class="center">Nosotros</a>
        </li>
        <li id="nav-2" class="slide-out-2 center">
          <a href="#actividades" class="center">Actividades</a>
        </li>
        <li id="nav-3" class="slide-out-3 center">
          <a href="#ubicacion" class="center">Ubicación</a>
        </li>
        <li id="nav-4" class="slide-out-4 center">
          <a href="#contacto" class="center">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- HAMBURGER MENU -->
  <div class="hamburger-menu" id="hamburger-menu">
    <div class="menu-bar1"></div>
    <div class="menu-bar2"></div>
    <div class="menu-bar3"></div>
  </div>

  <div class="go-top-container">
    <div class="go-top-button">
      <i class="fa-solid fa-chevron-up"></i>
    </div>
  </div>
  <div class="background">
    <!--Banner-->
    <section id="hero">
      <div class="banner">
        <h1 id="titulo" class="no-seleccionable">Belén tour</h1>
        <p class="no-seleccionable">Conoce las aventuras que tenemos para ofrecerte</p>
      </div>
    </section>

    <section id="section04" class="demo">
      <a class="enlace" href="#nosotros"><span></span>Conocenos</a>
    </section>

  </div>

  <div class="contenedor">
    <!--Nosotros-->
    <h2 id="nosotros" class="titulo-decorado no-seleccionable">Nosotros</h2>
    <section class="nosotros">
      <div class="historia">
        <div class="scroll-animacion">
          <h3>Nuestra historia</h3>
          <p>Si lo que estas buscando es pasar un tiempo a solas para ti y rodeado de naturaleza. Nosotros somos tu
            mejor opción. Aun que si de igual forma deseas vivir la adrenalina en las alturas puedes probar nuestra área
            de tirolesas para llenarte de experiencias inolvidables!</p>
        </div>
        <img src="../static/images/Nosotros.jpeg" alt="" srcset="" class="scroll-img-r">
      </div>


      <!--Mision-->
      <div class="contenedor-mision">
        <img src="../static/images/mision.jpeg" alt="" srcset="" class="scroll-img-l">
        <div class="mision">
          <div class="scroll-mision">
            <h3>Mision</h3>
            <p>
              Nuestra misión es poder liberarte de la rutina diaria del día a día que se vive cotidianamente, librarte
              del estrés causado por la contaminación auditiva que existe en la ciudad.

              Disfruta del sonido relajante que la naturaleza te puede brindar a través de nuestros senderos naturales
              con hermosos paisajes llenos de vegetación y fauna.</p>
          </div>
        </div>
      </div>
    </section>

    <!--Actividades-->

    <div class="contenedor-actividades">
      <h2 class="titulo-decorado no-seleccionable padding-20" id="actividades">Actividades</h2>
      <section class="actividades-1">
        <article class="senderismo">
          <div class="scroll-senderismo">
            <h3>Senderismo</h3>
            <p>Tu decides que es lo que quieres probar!

              Si deseas una caminata por la naturaleza para despejar la mente o bien para estar un tiempo con los amigos
              lejos de la tecnología prueba nuestros senderos.

              Si bien lo que buscas es aventurarte un poco más y adentrarte a la flora de nuestra región de igual forma
              tenemos para ti el trekking que es un estilo de excursionismo libre</p>
          </div>
          <img src="../static/images/sunset-2173918_1280.jpg" alt="" srcset="" class="scroll-img-r">
        </article>


        <div class="contenedor-escalada">
          <img src="../static/images/climbing-2609319_1280.jpg" alt="" srcset="" class="scroll-img-l">
          <article class="escalada">
            <div class="scroll-escalada">
              <h3>Escalada</h3>
              <p>Si en lugar de dar una caminata lo tuyo es sentir la adrenalina correr por tus venas.

                Prueba nuestras variantes en actividades de turismo de aventura como lo es el rapel y la escalada en el
                cual pondrás a prueba tus conocimientos y condición física para lograr el objetivo de llegar a la cima
                de nuestras paredes rocosas.

                Dentro de nuestros espacios recreativos designados para estas actividades encontraras equipo y personal
                aptos para encaminarte hacía la aventura de escalar y descender rocas. </p>
            </div>
          </article>
        </div>
      </section>

      <section class="actividades-2">
        <article class="camping">
          <div class="scroll-camping">
            <h3>Camping</h3>
            <p>¿Deseas acampar en las mañanas y disfrutar de un bello atardecer?

              ¿O lo tuyo es acampar en la noche acompañado de tus amigos o familiares y contar historias toda la noche?
              Nosotros te ofrecemos todo lo que estas imaginando a la hora de querer acampar, pues contamos con una
              excelente area rodeada de vegetación para poder hacer camping sin ningun problema</p>
          </div>
          <img src="../static/images/trees-2563899_1280.jpg" alt="" class="scroll-img-r">
        </article>

        <div class="contenedor-tirolesa">
          <img src="../static/images/zipline-6278621_1280.jpg" alt="" class="scroll-img-l">
          <article class="tirolesa">
            <div class="scroll-tirolesa">
              <h3>Tirolesa</h3>
              <p>Contamos con mecanismos de tirolesa largas y medianas, las cuales son muy seguras ya que brindamos
                equipos de seguridad y si aun no eres experto en el tema uno de nuestros asesores te enseñara a como
                vivir una experiencia inolvidable con nuestras tirolesas. </p>
            </div>
          </article>
        </div>
      </section>
    </div>


    <!--Ubicacion-->
    <div class="contenedor-ubicacion">
    <h2 id="ubicacion" class="titulo-decorado no-seleccionable padding-20">Ubicación</h2>
    <section class="ubicacion">
      <p class="centrar">Es un poblado perteneciente a la comunidad de Escárcega Campeche. Situada a 20 minutos de
        Escárcega con una vía de acceso por la carretera federal</p>
      <div class="mapa">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19304.164040405416!2d-90.58514356184618!3d18.572221698061934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85f6585944ff2003%3A0x6cc76f97ce94a405!2zMjQzNzUgQmVsw6luLCBDYW1wLiwgTcOpeGljbw!5e1!3m2!1ses-419!2sar!4v1651610151033!5m2!1ses-419!2sar"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </section>
    </div>

    <h2 class="titulo-decorado no-seleccionable titulo-contacto padding-20" id="contacto">Contacto</h2>
    <div class="contenedor-contacto">
      <section class="contacto">
        <form action="" class="contacto-form">

          <div class="nombre-completo">
            <div>
              <label for="nombre">Nombre</label>
              <input type="text" name="nombre" id="nombre" placeholder="Nombre">
            </div>

            <div>
              <label for="apellido">Apellido</label>
              <input type="text" name="apellido" id="apellido" placeholder="Apellido">
            </div>
          </div>

          <div class="datos-contacto">
            <div>
              <label for="correo">Correo</label>
              <input type="email" name="correo" id="correo" placeholder="Correo">
            </div>

            <div>
              <label for="celular">Celular</label>
              <input type="tel" name="celular" id="celular" placeholder="Celular">
            </div>
          </div>

          <div class="mensaje">
            <label for="mensaje">Mensaje</label>
            <textarea name="mensaje" id="mensaje" class="mensaje"></textarea>
          </div>

          <input type="submit" value="Enviar" name="button" id="button" class="button">
        </form>
      </section>
    </div>

    <!--Footer-->
    <footer class="footer">
      <nav class="nav-footer">
        <ul class="lista-footer">
          <li>
            <a href="https://github.com/Franki013"><i class="fa-brands fa-github"></i>
          </li></a>
          <li>
            <a href="https://www.linkedin.com/in/franco-lo-giudice-a57a54144/"><i class="fa-brands fa-linkedin"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/?hl=en"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
          </li>
        </ul>
        <p>Diseñado con amor por <b>Frankii &#10084;</b></p>
      </nav>
    </footer>
  </div>
  </div>
  <!--Scripts-->
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="../static/js/main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script>
    $(document).ready(function () {
      // Add smooth scrolling to all links
      $("a").on('click', function (event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function () {

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
  </script>
</body>

</html>